*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* Bubbles styling */
#bubbles{
    height: 0;
}
  
ul{
    list-style-type: none;
    padding: 5px 0 5px 0 !important;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
  
li{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: inline-block;
    background-color: rgb(209, 209, 209);
    border: 1px solid black;
    border-radius: 50%;
}

@media (max-width: 796px){
    #bubbles{
        height: 10px;
    }
}

@media (max-width: 465px){
    #bubbles{
        height: 35px;
    }
}

@media (max-width: 390px){
    #bubbles{
        height: 60px;
    }
}